<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniversityPark</key>
	<array>
		<string>link_locators_blue.png</string>
		<string>link_fraternity_locator.png</string>
		<string>link_fraternities_blue.png</string>
		<string>link_acacia.png</string>
		<string>link_alpha_chi_rho.png</string>
		<string>link_alpha_epsilon_pi.png</string>
		<string>link_alpha_gamma_rho.png</string>
		<string>link_alpha_kappa_lambda.png</string>
		<string>link_alpha_phi_alpha.png</string>
		<string>link_alpha_phi_delta.png</string>
		<string>link_alpha_rho_chi.png</string>
		<string>link_alpha_sigma_phi.png</string>
		<string>link_alpha_tau_omega.png</string>
		<string>link_alpha_zeta.png</string>
		<string>link_beta_sigma_beta.png</string>
		<string>link_beta_theta_pi.png</string>
		<string>link_chi_phi.png</string>
		<string>link_chi_psi.png</string>
		<string>link_delta_chi.png</string>
		<string>link_delta_kappa_epsilon.png</string>
		<string>link_delta_phi.png</string>
		<string>link_delta_tau_delta.png</string>
		<string>link_delta_theta_sigma.png</string>
		<string>link_delta_upsilon.png</string>
		<string>link_kappa_delta_rho.png</string>
		<string>link_kappa_sigma.png</string>
		<string>link_lambda_chi_alpha.png</string>
		<string>link_lambda_phi_epsilon.png</string>
		<string>link_lambda_theta_phi.png</string>
		<string>link_phi_gamma_delta.png</string>
		<string>link_phi_delta_theta.png</string>
		<string>link_phi_kappa_psi.png</string>
		<string>link_phi_kappa_tau.png</string>
		<string>link_phi_kappa_theta.png</string>
		<string>link_phi_mu_delta.png</string>
		<string>link_phi_sigma_kappa.png</string>
		<string>link_pi_kappa_alpha.png</string>
		<string>link_pi_kappa_phi.png</string>
		<string>link_pi_lambda_phi.png</string>
		<string>link_sigma_alpha_epsilon.png</string>
		<string>link_sigma_alpha_mu.png</string>
		<string>link_sigma_chi.png</string>
		<string>link_sigma_lambda_beta.png</string>
		<string>link_sigma_nu.png</string>
		<string>link_sigma_phi_epsilon.png</string>
		<string>link_sigma_pi.png</string>
		<string>link_sigma_tau_gamma.png</string>
		<string>link_tau_delta_phi.png</string>
		<string>link_tau_kappa_epsilon.png</string>
		<string>link_tau_phi_delta.png</string>
		<string>link_theta_delta_chi.png</string>
		<string>link_theta_chi.png</string>
		<string>link_triangle_fraternity.png</string>
		<string>link_zeta_beta_tau.png</string>
		<string>link_zeta_psi.png</string>
		<string>link_sororities_blue.png</string>
		<string>link_alpha_chi_omega.png</string>
		<string>link_alpha_delta_pi.png</string>
		<string>link_alpha_kappa_alpha.png</string>
		<string>link_alpha_kappa_delta_phi.png</string>
		<string>link_alpha_omicron_pi.png</string>
		<string>link_alpha_phi.png</string>
		<string>link_alpha_sigma_alpha.png</string>
		<string>link_alpha_xi_delta.png</string>
		<string>link_chi_omega.png</string>
		<string>link_delta_delta_delta.png</string>
		<string>link_delta_gamma.png</string>
		<string>link_delta_zeta.png</string>
		<string>link_gamma_phi_beta.png</string>
		<string>link_kappa_alpha_theta.png</string>
		<string>link_kappa_delta.png</string>
		<string>link_kappa_kappa_gamma.png</string>
		<string>link_pi_beta_phi.png</string>
		<string>link_phi_mu.png</string>
		<string>link_sigma_delta_tau.png</string>
		<string>link_sigma_gamma_rho.png</string>
		<string>link_sigma_kappa.png</string>
		<string>link_sigma_lambda_gamma.png</string>
		<string>link_sigma_lambda_upsilon.png</string>
		<string>link_sigma_omicron_pi.png</string>
		<string>link_sigma_sigma_sigma.png</string>
		<string>link_zeta_phi_beta.png</string>
		<string>link_zeta_tau_alpha.png</string>
	</array>
</dict>
</plist>
