<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniversityPark</key>
	<array>
		<string>link_health_services.png</string>
		<string>link_call_advice_nurse.png</string>
		<string>link_call_for_appointments.png</string>
		<string>link_mount_nittany_medical_center.png</string>
		<string>link_call_mount_nittany_medical_center.png</string>
	</array>
</dict>
</plist>
